@charset "utf-8";
/* CSS Document */

.wrapper {
			max-width: auto;
			margin: auto;
			background-image: url("portfoliobaggrundv3.jpg");		
			font-size: 20px;
			font-family: 'Oswald', sans-serif;
}

.header1 { 	grid-area: header; }
.navbar1 { 	grid-area: navbar; }
.main1   { 	grid-area: main1;  }
.footer1 { 	grid-area: footer; }


.grid-container {
  			display: grid;
			grid-template-columns: auto auto auto auto auto auto;
			margin: 0, auto;
  			grid-template-areas:
    		'header header header header header header'
    		'navbar navbar navbar navbar navbar navbar'
			'main1 main1 main1 main1 main1 main1'
    		'footer footer footer footer footer footer';
  			grid-gap: 1%;			
}

.grid-container {
  			text-align: center;
  		
  			
}
.header1 {
  			text-align: center;
  			
  			
}
.navbar1 {
			
  			text-align: center;							
			color: black;
			text-decoration: none;
   	 		text-shadow:
    					-1px -1px 0 #000,
   						 1px -1px 0 #000,
    					-1px 1px 0 #000,
  						 1px 1px 0 #000; 	
}
.main1 {
  			text-align: center;
  			padding-top: 5%;
			text-decoration: none  			
}
.main2 {
  			text-align: center;
  			padding-top: 5%;
			padding-bottom: 1%; 			
}
.footer1 {
  			text-align: center;
			padding-bottom: 1%;			
}
.navlinks {
			background-color: rgb(0, 0, 0, 0.6); 
			color: white;
   	 		text-shadow:
    					-1px -1px 0 #000,
   						 1px -1px 0 #000,
    					-1px 1px 0 #000,
  						 1px 1px 0 #000;
    		text-decoration: none;
			padding-left: 13px;
			padding-right: 13px;
			font-size: 25px;
}
.navlinks:hover {
			background-color: darkgrey; 
			color: white;
   	 		text-shadow:
    					-1px -1px 0 #000,
   						 1px -1px 0 #000,
    					-1px 1px 0 #000,
  						 1px 1px 0 #000;
    		text-decoration: none;
			padding-left: 13px;
			padding-right: 13px;
			font-size: 25px;
}
.links {
			color: white;
   	 		text-shadow:
    					-1px -1px 0 #000,
   						 1px -1px 0 #000,
    					-1px 1px 0 #000,
  						 1px 1px 0 #000;
    		text-decoration: none;
			padding-right: 10px;
}

.links:hover {
			color: darkgrey;
   	 		text-shadow:
    					-1px -1px 0 #000,
   						 1px -1px 0 #000,
    					-1px 1px 0 #000,
  						 1px 1px 0 #000;
    		text-decoration: none;
			padding-right: 10px;

}

.billedetekst {
			background-color: rgb(0, 0, 0, 0.6);
			grid-column-start: 3;
  			grid-column-end: 3;
			color: white;
   	 		text-shadow:
    					-1px -1px 0 #000,
   						 1px -1px 0 #000,
    					-1px 1px 0 #000,
  						 1px 1px 0 #000;
}
.billedetekst2 {
			background-color: rgb(0, 0, 0, 0.6);
			grid-column-start: 3;
  			grid-column-end: 3;
			color: white;
   	 		text-shadow:
    					-1px -1px 0 #000,
   						 1px -1px 0 #000,
    					-1px 1px 0 #000,
  						 1px 1px 0 #000;
}
.billedetekst2:hover {
			background-color: darkgrey;
			grid-column-start: 3;
  			grid-column-end: 3;
			color: white;
   	 		text-shadow:
    					-1px -1px 0 #000,
   						 1px -1px 0 #000,
    					-1px 1px 0 #000,
  						 1px 1px 0 #000;

}


