@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	
}
#wrapper {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

#infobox {
	margin-left: 150px; 
	border:2px solid #40B5B1; 
	padding-left: 30px; 
	border-radius: 30px;
}

#section_info_personer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 20px;
	text-align: center;
}
#section_info_personer p{
	padding-top: 20px;
}
#footer_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr
}
#imgcenter{
	display: grid;
	grid-template-columns: 1fr;
	margin-left: 4%;
	text-align: center;
}

.article_h3{
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
}
.paddingtext{
	padding-bottom: 5%;
}
.padding{
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 20%;
}

body {
	background-color: #ffffff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
ul {
  	list-style-type: none;
  	margin: 0;
  	overflow: hidden;
  	background-color: #FFFFFF;
}
li {
  	float:right;
 	padding-left: 20px;
}
li a {
  	display: block;
  	color: #40B5B1;
  	text-align: right;
  	padding: 14px 16px;
  	text-decoration: none;
}
li a:hover {
  	background-color: #1E3C55;
}
header {
	background-color:white;
	grid-column: 1 / 5;
	padding-top: 150px;
}
header h1 {
	text-align: center;

	padding-bottom: 5%;

	padding-top: 5%;
	color: white;
}
header h2 {

	position:absolute;
	
	top: 14%;
	
	right: 43%;
	
	text-align: center;

	padding-bottom: 5px;

	padding-top: 10px;

}
article{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 20px;
}
article img{
	grid-column: 1 / 2;
}
article h2{
	grid-column: 2 / 3;
}
article p{
	grid-column: 2 / 3;
	padding-right: 30px
}
nav {
	grid-column: 1 / 5;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

main {
		margin: 100px;
		padding: 15px;
		
}
button {
  	background-color: #40B5B1;
  	border: none;
	border-radius: 25px;
  	color: white;
  	padding: 15px 32px;
	height:60px;
	width:270px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 22px;
	  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
button:hover {
  background-color: #1E3C55;
  color: white;
}

footer {
	background-color: #C7C7C7;
	grid-column: 1 / 5;
	height: 250px;
	color: #252525;
}
footer h4{
	text-align: center;
	padding-bottom: 5px;
	padding-top: 30px;
}
footer p{

	grid-column: 1 / 2;

	text-align: center;

	padding-bottom: 30px;

}

footer img{	

	padding: 10px 0px 0px 0px;

	grid-column: 2 / 3;

	text-align:center;

}