@charset "UTF-8";
/* CSS Document */

@media only screen and (max-width: 600px) {
/* Mobilefirst css*/ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  border: solid 2px #dbdfe7;
}

/*navigationsbar*/
li {
  float: none;
  width: 100%;
    }

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    }

li a:hover {
  background-color: #DBDFE7;
    }
/*hjemmsidens baggrundsfarve*/
body{
	background-color: #FFFFFF;
	}

 	
/*hjemmsides grid*/
#wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	}

/*Teksten i navigationsbaren, indsat google.fonts*/	

nav{
	font-family: 'Source Sans Pro', sans-serif;
	grid-column: 1 / 2;
	}
/*billeder og tekst i grided*/
main{
	grid-column: 1 / 2;
	align-content: center;
	}
	
/*grid til siden brødtekst*/
section{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column: 1 / 4;
	text-align: center;
}
/*Brødtekst styling*/
#omyoga{
	grid-column: 1 / 2;
	border: solid 2px #DBDFE7;
	margin: 5%;
	font-family: 'Cairo', sans-serif;
	padding: 35px;
}
/*Brødtekst styling*/
#yogaformer{
	grid-column: 2 / 3;
	border: solid 2px #DBDFE7;
	margin: 5%;
	font-family: 'Cairo', sans-serif;
	padding: 35px;
}


/*styling af footer*/
footer{
	grid-column: 1 / 4;
	font-size: 15px; 
	background-color: #d8c6b5;
	text-align:left;
	padding: 1.2%;
	}
/*stlying af billeder i footer*/
footer img{
	padding: 1px;
	float: right;
	}
}
@media only screen and (min-width: 600px) {
/* Desktop css*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  border: solid 2px #dbdfe7;
  
}

/*navigationsbar*/
li {
  float: right;
    }

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    }

li a:hover {
  background-color: #DBDFE7;
    }
/*hjemmsidens baggrundsfarve*/
body{
	background-color: #FFFFFF;
	}

 	
/*hjemmsides grid*/
#wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	}
/*Teksten i navigationsbaren, indsat google.fonts*/
nav{
	font-family: 'Source Sans Pro', sans-serif;
	grid-column: 1 / 2;
	}
/*billeder og tekst i grid*/
main{
	grid-column: 1 / 2;
	align-content: center;
	}
/*grid til brødtekst*/
section{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column: 1 / 4;
	text-align: center;
}
/*styling af brødtekst*/
#omyoga{
	grid-column: 1 / 2;
	border: solid 2px #DBDFE7;
	margin: 5%;
	font-family: 'Cairo', sans-serif;
	padding: 35px;
}
/*styling af brødtekst*/
#yogaformer{
	grid-column: 2 / 3;
	border: solid 2px #DBDFE7;
	margin: 5%;
	font-family: 'Cairo', sans-serif;
	padding: 35px;
}
/*styling af footer*/
footer{
	grid-column: 1 / 4;
	font-size: 15px; 
	background-color: #d8c6b5;
	text-align:left;
	padding: 1.2%;
	}
/*styling af billeder i footeren*/
footer img{
	padding: 1px;
	float: right;
	
}
}
